




body { background-color: lightblue;}

.sticky-nav {
    display: grid;
    width: 99%;
    height: 70px; 
    position: absolute; 
    top: 0;
    background: #E7E0B3;
    grid-template-columns: 15% 40% 15% 15% 15%;
    padding-bottom: 30px;


}

.homel {border-style: solid;
        border: 4px solid #3581CA;
        text-align: center;
        width: 70%;
        margin: auto;
        padding: 10px;
        background-color: #E5ECFA;
        }


.aboutl {border-style: solid;
         border: 4px solid #3581CA;
         text-align: center;
         width: 70%;
         margin: auto;
         padding: 10px;
         background-color: #E5ECFA;
        }       
        
.portl {border-style: solid;
            border: 4px solid #3581CA;
            text-align: center;
            width: 70%;
            margin: auto;
            padding: 10px;
            background-color: #E5ECFA;
           }         

h2 {font-family: "Lucida Console", "Courier New", monospace;
color:cornflowerblue;}

p {font-family: "Garamond", Helvetica, sans-serif;
color:olive;
font-family: "Lucida Console", "Courier New", monospace;}

h1{color:blue;
    font-family: "Lucida Console", "Courier New", monospace;}

h3{color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align:left;}