




body { background-color: #96D1DB;}

.sticky-nav {
    display: grid;
    width: 99%;
    height: 70px; 
    position: absolute; 
    top: 0;
    background: #E7E0B3;
    grid-template-columns: 15% 30% 13% 13% 13% 13%;
    padding-bottom: 30px;


}

.redpik { 
          left: 0px;
          top: 0px;
          z-index: 1 ;
}



.homel {border-style: solid;
        border: 4px solid #3581CA;
        text-align: center;
        width: 70%;
        margin: auto;
        padding: 10px;
        background-color: #E5ECFA;
        }
        .homel:hover {
            background-color: orange;
        }


.aboutl {border-style: solid;
         border: 4px solid #3581CA;
         text-align: center;
         width: 70%;
         margin: auto;
         padding: 10px;
         background-color: #E5ECFA;
        }       
        .aboutl:hover {
            background-color: #F2E2BC;
        }
        
.portl {border-style: solid;
            border: 4px solid #3581CA;
            text-align: center;
            width: 70%;
            margin: auto;
            padding: 10px;
            background-color: #E5ECFA;
           }         
           .portl:hover {
            background-color: orange;
        }


.conl   {border-style: solid;
            border: 4px solid #3581CA;
            text-align: center;
            width: 80%;
            margin: auto;
            padding: 10px;
            background-color: #E5ECFA;
           }    
           .conl:hover {
            background-color: #F2E2BC;
        }


.homeimg { display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 30%;}


h2 {font-family: "Lucida Console", "Courier New", monospace;
    color:cornflowerblue;
    font-size: 1.25rem;
    text-align: center;
    border: solid;
    background-color: #E5ECFA;
    width: 300px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
}

p{ font-family: "Garamond", Helvetica, sans-serif;
   color:#3C5B1F;
   font-size: 1.25rem;
   text-align: center;
   border: solid 3px;
   background-color: #E5ECFA;;
   width: 300px;
   box-sizing: border-box;
   margin: 0 auto;
   padding: 10px;
   
   
  }

h1{color:#6A8211;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;

}
h1:hover {
    background-color: orange;
}

h3{color: #658E3D;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align:left;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;

}

.abouti {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 30%;
}


.contactinfo {background-color:#96D1DB !important;
    text-align: center;

}

label:hover {
    background-color: orange;
}

